html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #2b3a42;
    color: #8ddcf9;
    background-image: url("./assets/Bardock.png");
}
.pe{
    width: 100%;
}
#app{
    width: 80%;
    margin: 0 auto;
}
#app nav{
  text-align: center;
}
#app a{
    color: white;
    text-decoration: none;
    padding-right: 20px;
}